@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  font-family: "Roboto", sans-serif;
  background-color: #f8f9fa;
  /* background-color: #f5f3f4; */
}
@layer components {
  .primary_black {
    color: #0b090a;
  }
  .primary_yellow {
    /* color: #ff9f1c; */
    color: #ff7900;
  }
  .secondary_black {
    color: #6c757d;
  }
}
nav .active {
  font-weight: bold;
  color: #ff7900;
}
